[submodule "Arch/aur4/bcache-tools"]
	path = Arch/aur4/bcache-tools
	url = aur@aur-dev.archlinux.org:/bcache-tools.git
[submodule "Arch/aur4/bcache-tools-git"]
	path = Arch/aur4/bcache-tools-git
	url = aur@aur-dev.archlinux.org:/bcache-tools-git.git
[submodule "Arch/aur4/crashplan"]
	path = Arch/aur4/crashplan
	url = aur@aur-dev.archlinux.org:/crashplan.git
[submodule "Arch/aur4/diamond"]
	path = Arch/aur4/diamond
	url = aur@aur-dev.archlinux.org:/diamond.git
[submodule "Arch/aur4/grafana-git"]
	path = Arch/aur4/grafana-git
	url = aur@aur-dev.archlinux.org:/grafana-git.git
[submodule "Arch/aur4/haskell-regex-tdfa"]
	path = Arch/aur4/haskell-regex-tdfa
	url = aur@aur-dev.archlinux.org:/haskell-regex-tdfa.git
[submodule "Arch/aur4/influxdb-git"]
	path = Arch/aur4/influxdb-git
	url = aur@aur-dev.archlinux.org:/influxdb-git.git
[submodule "Arch/aur4/j4-dmenu-desktop"]
	path = Arch/aur4/j4-dmenu-desktop
	url = aur@aur-dev.archlinux.org:/j4-dmenu-desktop.git
[submodule "Arch/aur4/libnotify-id"]
	path = Arch/aur4/libnotify-id
	url = aur@aur-dev.archlinux.org:/libnotify-id.git
[submodule "Arch/aur4/lsi-cfggen"]
	path = Arch/aur4/lsi-cfggen
	url = aur@aur-dev.archlinux.org:/lsi-cfggen.git
[submodule "Arch/aur4/lsi-sas2ircu"]
	path = Arch/aur4/lsi-sas2ircu
	url = aur@aur-dev.archlinux.org:/lsi-sas2ircu.git
[submodule "Arch/aur4/lsiutil"]
	path = Arch/aur4/lsiutil
	url = aur@aur-dev.archlinux.org:/lsiutil.git
[submodule "Arch/aur4/multipath-tools"]
	path = Arch/aur4/multipath-tools
	url = aur@aur-dev.archlinux.org:/multipath-tools.git
[submodule "Arch/aur4/playonlinux-git"]
	path = Arch/aur4/playonlinux-git
	url = aur@aur-dev.archlinux.org:/playonlinux-git.git
[submodule "Arch/aur4/purple-events"]
	path = Arch/aur4/purple-events
	url = aur@aur-dev.archlinux.org:/purple-events.git
[submodule "Arch/aur4/python2-pysensors"]
	path = Arch/aur4/python2-pysensors
	url = aur@aur-dev.archlinux.org:/python2-pysensors.git
[submodule "Arch/aur4/python-flask-cache"]
	path = Arch/aur4/python-flask-cache
	url = aur@aur-dev.archlinux.org:/python-flask-cache.git
[submodule "Arch/aur4/shellcheck"]
	path = Arch/aur4/shellcheck
	url = aur@aur-dev.archlinux.org:/shellcheck.git
[submodule "Arch/aur4/shellcheck-git"]
	path = Arch/aur4/shellcheck-git
	url = aur@aur-dev.archlinux.org:/shellcheck-git.git
[submodule "Arch/aur4/skype4pidgin-git"]
	path = Arch/aur4/skype4pidgin-git
	url = aur@aur-dev.archlinux.org:/skype4pidgin-git.git
[submodule "Arch/aur4/sonarr-develop"]
	path = Arch/aur4/sonarr-develop
	url = aur@aur-dev.archlinux.org:/sonarr-develop.git
[submodule "Arch/aur4/graphite-api-git"]
	path = Arch/aur4/graphite-api-git
	url = aur@aur-dev.archlinux.org:/graphite-api-git.git
[submodule "Arch/aur4/python-structlog"]
	path = Arch/aur4/python-structlog
	url = aur@aur-dev.archlinux.org:/python-structlog.git
